<mat-toolbar color="primary">
    <span><mat-icon>eco</mat-icon>Exmaple1</span>
    <a mat-button routerLink="home" routerLinkActive="active" >
       <span> Home</span> </a>
    <a mat-button routerLink="service" 
    routerLinkActive="active">
    <span>Service</span> </a>
    <a mat-button routerLink="projects" routerLinkActive="active">
       <span>Projects</span> </a>
    <a mat-button routerLink="about-us" routerLinkActive="active">
       <span>About us</span> </a>
    <div class="space"></div>
    <a mat-raised-button routerLink="login" routerLinkActive="active">
       <span>Login</span> </a>
</mat-toolbar>